/* video{
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
} */

.hero-container{
    background: url('/public/images/img-home.jpg') center center/cover no-repeat;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
    object-fit: contain;
}

.hero-container >h1{
    color: #fff;
    font-size: 6.25rem;
    margin-top: -100px;
}

.hero-container > p{
    margin-top: 8px;
    color:#fff;
    font-size: 2rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.hero-btns{
    margin-top: 32px;

}

.hero-btns .btn{
    margin: 6px;
}

.fa-play-circle{
    margin-left: 4px;
}

@media screen and (max-width: 960px){
    .hero-container >h1{
        font-size: 4.375rem;
        margin-top: -150px;
    }
}

@media screen and (max-width:768px){
    .hero-container > h1{
        font-size: 3.125rem;
        margin-top: -100px;
    }

    .hero-container > p{
        font-size: 1.875rem;
    }

    .btn-mobile{
        display: block;
        text-decoration: none;
    }

    .btn{
        width: 100%;
    }
}

@media screen and (max-width: 445px){
    .hero-container > h1{
        text-align: center;
        font-size: 2rem;
        /* margin:2rem auto 5px; */
    }

    .hero-container > p{
        text-align: center;
        font-size: 1.3rem;
    }

    .btn{
        font-size: 1rem;
    }
}

@media screen and (max-width:220px){
    .hero-container > h1{
        font-size: 1.4rem;
    }

    .hero-container > p{
        font-size: 1rem;
    }

    .btn{
        max-width: 90%;
    }
}